/* Headings */
/*Further Reading: http://www.skype.com/pt-br/download-skype/skype-for-computer/ */
h1, .alpha   { 
	line-height: 1.2;
	// font-family: $font-sans;
}

h2, .beta    { 
	line-height: 1.2;
	// CE styles below
	font-size: 1.55em;
	margin: 0.6em 0;
	font-weight:500;
}

h3, .gamma   { 
	line-height: 1.2;
	// CE styles below
	font-size: 1.1em;
	margin:10px 0;
	font-style:normal;
	font-weight:600;
}

//CE style
h3.field-content a {
	font-size: 1em;
}

h4, .delta   {
	font-family: $font-sans;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.3;
	margin-top: 1.17em;
	
}

h5, .epsilon { 
	
}

h6, .zeta    { 
	
}

/* Subheadings */
.subheading {
	font-family: $font-secondary;
	font-weight: normal;
}
