/* Links */ 
// a {
// 	color: $gray-dark;
// 	text-decoration: none;
// 	outline: 0;
	
// 	&:hover, &:focus {
// 		color: $gray;
// 	}
// }

// CE links

a {
	color: $link-blue;
	text-decoration: none;
	&:hover {
		color: $link-hover-active;
		outline: 0;
	}
	&:active {
		color: $link-hover-active;
		outline: 0;
		background-color: transparent;
	}
	&:focus {
		outline: none;
	}
}

li a.active {
	color: $link-hover-active;
}