/* Text-Related Elements */ 
p {
	margin-bottom: $space;
}

/* Blockquote */
// blockquote {
//     font-style:italic;
//     border-left: 1px solid $gray;
//     color: $gray;
// 	padding-left: $pad;
// 	margin-bottom: $space;
// }

//CE Blockquote
blockquote.testimonial {
    background: none;
    position: relative;
    right: 3.5em;
    width: 100%;
    p {
        font-family: $font_sans;
        font-style: italic;
        font-weight: 400;
        font-size: 1.2em;
        color: $info-session-blue;
        line-height: 1.75em;
        span {
            display: block;
            font-family: $font_sans;
            font-style: normal;
            font-weight: 400;
            font-size: 0.9em;
            line-height: normal;
            text-align: right;
        }
    }
}


/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
}