<div class="program-options">
	<h2>More program options in {{program.lowercase}}</h2>
	<div class="card">
		<div class="upper">
			<h2>Online Certificate</h2>
			<p>{{excerpt.short}}</p>
			{{> molecules-link-learn-more-certificate }}
		</div>
	</div>
	<div class="card nomargin">
		<div class="upper">
			<h2>Online Courses (Noncredit)</h2>
			<p>{{excerpt.short}}</p>
			{{> molecules-link-learn-more-certificate }}
		</div>
	</div>
</div>