<div class="academic-paper">
	<h3>
		<a href="http://citation.allacademic.com/meta/p_mla_apa_research_citation/3/7/2/1/4/p372146_index.html?phpsessid=s9h2rmvpcnguc31qk9pid024l4" target="_blank">
			<span class="field-content">{{headline.short}}</span>
		</a>
	</h3>
	<div class="field-content">{{name.last}}, {{name.firsti}}; {{name.last}}, {{name.firsti}}</div>
	<h4>4S Annual Meeting – {{month.long}} {{day.short}}, {{year.long}}</h4>
	<div class="field-content">
		<p>{{excerpt.short}}</p>
	</div>
	<a href="http://citation.allacademic.com/meta/p_mla_apa_research_citation/3/7/2/1/4/p372146_index.html?phpsessid=s9h2rmvpcnguc31qk9pid024l4" target="_blank">View Full Article</a>
</div>