<div class="social-sidebar">
	<img alt="{{img.twitter-sidebar.alt}}" src="{{img.twitter-sidebar.src}}">
	<h3>Follow <a class="social-link" href="{{twitter.url}}{{twitter.handle}}" target="_blank">@{{twitter.handle}}</a> on Twitter.</h3>
</div>