<div class="email-signup">
	<a href="//rfi" class="track" id="Untagged page" title="Request for Information" target="_blank">
		<img src="http://assets.ce.columbia.edu/i/ce/shared/cu-stamp-icon.png" alt="Sign up for email updates">

		<h3>Request more information</h3>
		<p>Ask questions, receive updates.</p>
	</a>
</div>