<div class="social-sidebar">

    <img src="{{ img.facebook-sidebar.src }}" alt="{{ img.facebook-sidebar.alt }}" />

	<h3>Like <a class="social-link" href="{{&facebook.url}}{{facebook.name}}" target="_blank">{{facebook.name}}</a> on Facebook.</h3>
</div>