<div class="social-sidebar">
	<img src="{{img.linkedin-sidebar.src}}" alt="{{img.linkedin-sidebar.alt}}" class="sq">
	<h3>Join <a class="social-link" href="{{linkedin.url}}{{linkedin-name}}-{{linkedin.number}}" target="_blank">{{linkedin.name}}</a> on LinkedIn.</h3>
</div>