<div class="event-sidebar">
	<div class="info-title">
		<a href="/{{programs.name}}/information-sessions/online-information-session-the-ms-in-bioethics-01-26-2015">
			<div class="date-blue">
				Jan
				<span>26</span>
			</div>
			<h3 class="info-header">
				Online Information Session<br />
				<span>Register online for access.</span>
			</h3>
			<div class="info-date">
				Monday, Jan 26 at 6:00 PM
			</div>
		</a>
	</div>
</div>



