<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #333;"></span>
		<span class="sg-label">$font-color: #333;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ccc;"></span>
		<span class="sg-label">$grey: #ccc;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #cdcdcd;"></span>
		<span class="sg-label">$light-grey: #cdcdcd;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #666;"></span>
		<span class="sg-label">$dark-grey: #666;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #363636;"></span>
		<span class="sg-label">$footer-grey: #363636;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #026fb4;"></span>
		<span class="sg-label">$link-blue: #026fb4;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4091ca;"></span>
		<span class="sg-label">$info-session-blue: #4091ca;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #005fa5;"></span>
		<span class="sg-label">$dark-blue: #005fa5;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #39f;"></span>
		<span class="sg-label">$link-hover-active: #39f;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #5799c9;"></span>
		<span class="sg-label">$card-blue: #5799c9;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #add3eb;"></span>
		<span class="sg-label">$blue-rule: #add3eb;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #6caedf;"></span>
		<span class="sg-label">$banner-blue: #6caedf;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ad3800;"></span>
		<span class="sg-label">$event-orange: #ad3800;</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ababab;"></span>
		<span class="sg-label">$color_silver_chalice_approx: #ababab;</span>
	</li>
</ul>


<!-- // CE colors

