<p>$font-sans: "ff-kievit-web", Verdana, sans-serif;</p>
<p><em>$font-sans: "ff-kievit-web", Verdana, sans-serif;</em></p>
<p><strong>$font-sans: "ff-kievit-web", Verdana, sans-serif;</strong></p>
<p class="font-secondary">$font-serif: Georgia, Times, "Times New Roman", serif;</p>
<p class="font-secondary"><em>$font-serif italic: Georgia, Times, "Times New Roman", serif;</em></p>
<p class="font-secondary"><strong>$font-serif bold: Georgia, Times, "Times New Roman", serif;</strong></p>
<p class="font-tertiary">$font-sc: "ff-kievit-sc-web", Verdana, sans-serif;</p>
<p class="font-tertiary"><em>$font-sc italic: "ff-kievit-sc-web", Verdana, sans-serif;</em></p>
<p class="font-tertiary"><strong>$font-sc bold: "ff-kievit-sc-web", Verdana, sans-serif;</strong></p>