<!-- <a href="/"><img src="../../assets/images/logo.png" class="logo" alt="{{ clientname }} logo" /></a> -->




<a href="/" title="Home" class="logo">
	<img src="{{img.logo.src}}" alt="{{columbia-sce.name}} logo">
</a>