/*------------------------------------*\
    $STYLE GUIDE CONTAINER STYLES
\*------------------------------------*/
/**
 * NOTE: These styles are specific to the style guide container and should not be modified. 
 * Use style.scss for all content styles that don't pertain to the style guide container.
 * 
 * Second note: Any important declarations are to prevent brand styles from overriding style guide 
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 * STYLE GUIDE VARIABLES------------------Declarations of Sass variables 
 * -----Font
 * -----Colors
 * -----Typography
 * -----Defaults
 * -----Breakpoints
 * MIXINS---------------------------------Sass mixins 
 * RESET----------------------------------Set reset defaults
 * GLOBAL ELEMENTS------------------------Establish global styles
 * -----Main
 * -----Headings
 * -----Text-related elements (p, blockquote, lists)
 * -----Defaults
 * -----Breakpoints
 * STYLE GUIDE INTERFACE------------------CSS for the Style Guide Container. Should not influence the containing styles at all.
 * -----Header
 * -----Navigation
 * -----Controls
 * -----Main Container
 * -----Viewport
 * -----Section Headers
 * -----Code View
 */
/*------------------------------------*\
    $STYLE GUIDE VARIABLES 
\*------------------------------------*/
/*Fonts*/
/* Style Guide Interface Colors */
/* Typography */
/* Defaults */
/* Dimensions */
/* Breakpoints */
/*------------------------------------*\
    $STYLE GUIDE MIXINS 
\*------------------------------------*/
/*------------------------------------*\
    $STYLE GUIDE INTERFACE 
\*------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  background: #dddddd;
  -webkit-text-size-adjust: 100%; }

html#pattern-frame {
  background: #fff; }

.sg-nav-wrapper {
  overflow: hidden;
  background: #dddddd; }

.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px); }

/*------------------------------------*\
    $STYLE GUIDE HEADER 
\*------------------------------------*/
/* Header */
.sg-header {
  background: #222222;
  color: white;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  -webkit-box-shadow: inset 0 1px 0 #5f6164, inset 0 -1px 0 #2e2f2f, 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 #5f6164, inset 0 -1px 0 #2e2f2f, 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 #5f6164, inset 0 -1px 0 #2e2f2f, 0 1px 3px rgba(0, 0, 0, 0.3); }
  .sg-header * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .sg-header ul, .sg-header ol {
    padding: 0;
    margin: 0; }
  .sg-header li {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
  .sg-header a {
    font-size: 70%;
    color: gray;
    text-decoration: none;
    display: block;
    line-height: 1;
    padding: 1em;
    -webkit-transition: background 0.15s ease-out;
    -moz-transition: background 0.15s ease-out;
    -ms-transition: background 0.15s ease-out;
    -o-transition: background 0.15s ease-out;
    transition: background 0.15s ease-out;
    -webkit-transition: color 0.15s ease-out;
    -moz-transition: color 0.15s ease-out;
    -ms-transition: color 0.15s ease-out;
    -o-transition: color 0.15s ease-out;
    transition: color 0.15s ease-out; }
    .sg-header a:hover, .sg-header a:focus, .sg-header a.active {
      color: white;
      background: rgba(255, 255, 255, 0.05); }
  .sg-header ol li ol li ol li a {
    padding-left: 2em;
    text-transform: none; }

/* Navigation */
.sg-header .sg-nav-toggle {
  padding: 1em;
  border-bottom: 1px solid transparent;
  position: relative;
  z-index: 2; }
  @media all and (min-width: 44em) {
    .sg-header .sg-nav-toggle {
      display: none; } }

@media all and (max-width: 44em) {
  .sg-nav-container {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.5s ease-out;
    -moz-transition: max-height 0.5s ease-out;
    -ms-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out; }
    .sg-nav-container.active {
      max-height: 50em; } }

.sg-nav {
  z-index: 1;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media all and (min-width: 44em) {
    .sg-nav > li {
      border-bottom: 0;
      border-right: 1px solid rgba(255, 255, 255, 0.05);
      float: left;
      position: relative; }
      .sg-nav > li > ol {
        position: absolute;
        top: 2em;
        left: 0; } }

.sg-nav-Pages ol {
  width: 24em; }
.sg-nav-Pages li {
  float: left;
  width: 50%; }

/* Accordion */
.sg-acc-handle:after {
  content: ' +';
  float: right;
  font-size: 70%; }
  @media all and (min-width: 44em) {
    .sg-acc-handle:after {
      float: none; } }
.sg-acc-handle.active {
  color: white;
  background: rgba(255, 255, 255, 0.05); }
  .sg-acc-handle.active:after {
    content: ' -'; }
.sg-acc-handle.sg-icon:after {
  content: ""; }

.sg-header .sg-icon {
  width: auto;
  font-size: 1rem;
  padding: 0.5rem 1rem; }

.sg-acc-panel {
  overflow: hidden;
  max-height: 0;
  min-width: 10em;
  background: #222222;
  -webkit-transition: max-height 0.5s ease-out;
  -moz-transition: max-height 0.5s ease-out;
  -ms-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out; }
  .sg-acc-panel.active {
    max-height: 50em; }
  .sg-acc-panel.sg-right {
    position: absolute;
    left: auto;
    right: 0; }

/* Controls (sizing, view mode) */
.sg-controls {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; }
  .sg-controls .sg-acc-panel.active {
    max-height: 17em; }
  .sg-controls .sg-nav-phases .sg-acc-panel {
    min-width: 0; }
    .sg-controls .sg-nav-phases .sg-acc-panel.active {
      max-height: none; }

.sg-control-trigger {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
  @media all and (min-width: 44em) {
    .sg-control-trigger {
      border: 0; } }
  @media all and (min-width: 65em) {
    .sg-control-trigger {
      float: left;
      width: 6em; } }

@media all and (min-width: 44em) {
  .sg-control > li {
    float: left;
    border-bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.05); } }

.sg-control > li {
  float: left; }
.sg-control .sg-input {
  padding: 0.1em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .sg-control .sg-input:active, .sg-control .sg-input:focus {
    outline: 0;
    background: #f7f7f7;
    color: #000; }

@media all and (max-width: 65em) {
  .sg-quarter {
    float: left;
    width: 25%;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    text-align: center; }
    .sg-quarter:first-child {
      border-left: 0; } }

@media all and (max-width: 65em) {
  .sg-half {
    float: left;
    width: 50%;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    text-align: center; }
    .sg-half:nth-child(odd) {
      border-left: 0; } }

.sg-current-size {
  font-size: 70%;
  color: gray;
  padding: 0.8em 0.95em; }
  .sg-current-size:hover .sg-input {
    background: #f7f7f7;
    color: #000; }
  @media all and (min-width: 65em) {
    .sg-current-size {
      float: left; } }

.sg-size-options {
  max-width: 10em; }
  @media all and (min-width: 65em) {
    .sg-size-options {
      position: static;
      max-height: none;
      max-width: none; }
      .sg-size-options li {
        float: left;
        border: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.05); } }

#sg-form {
  margin: 0;
  border: 0;
  padding: 0; }

.sg-input {
  margin: -2px 0 0 0;
  padding: 0;
  border: 1px solid #222;
  background-color: #222;
  color: gray;
  width: 35px;
  text-align: right; }

.sg-input-active {
  background-color: #fff;
  color: #000; }

.sg-view {
  position: relative; }
  .sg-view > ul {
    position: absolute;
    top: 2em;
    left: 0; }

.sg-checkbox:before {
  display: inline-block;
  margin-right: 0.4em; }

/*------------------------------------*\
    $STYLE GUIDE VIEWPORT
\*------------------------------------*/
/* Viewport */
#sg-vp-wrap {
  text-align: center;
  width: 100%; }
  @media all and (min-width: 44em) {
    #sg-vp-wrap {
      position: fixed;
      top: 2em;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0; } }
  #sg-vp-wrap.wrap-animate {
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -ms-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out; }

#sg-viewport {
  border: 0;
  x-margin: 0 auto;
  height: 100%;
  width: 100%; }
  #sg-viewport.hay-mode {
    -webkit-transition: all 40s linear;
    -moz-transition: all 40s linear;
    -ms-transition: all 40s linear;
    -o-transition: all 40s linear;
    transition: all 40s linear; }

#sg-cover {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 20;
  cursor: col-resize; }

#sg-gen-container {
  height: 100%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  overflow-x: hidden; }
  #sg-gen-container.hay-mode {
    -webkit-transition: all 40s linear;
    -moz-transition: all 40s linear;
    -ms-transition: all 40s linear;
    -o-transition: all 40s linear;
    transition: all 40s linear; }

#sg-rightpull-container {
  width: 10px;
  float: right;
  margin: 0;
  height: 100%;
  cursor: col-resize; }

#sg-rightpull {
  margin: 0;
  width: 10px;
  height: 100%;
  background: #999;
  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -ms-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out; }
  #sg-rightpull:hover {
    background: #666; }
  #sg-rightpull:active {
    cursor: col-resize;
    background: #444; }

.vp-animate {
  -webkit-transition: width 0.8s ease-out;
  -moz-transition: width 0.8s ease-out;
  -ms-transition: width 0.8s ease-out;
  -o-transition: width 0.8s ease-out;
  transition: width 0.8s ease-out; }

/*------------------------------------*\
    $STYLE GUIDE CONTENT 
\*------------------------------------*/
/* Section Head */
.sg-head {
  margin: 2em 0;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-size: 70%;
  font-weight: normal;
  padding: 1em 0; }
  .sg-head a {
    display: block;
    border-bottom: 1px solid #222222;
    color: #222;
    text-decoration: none; }
    .sg-head a:hover {
      color: gray;
      border-bottom-color: gray; }

/* Section Pattern */
.sg-pattern {
  margin-bottom: 2em;
  padding: 0 1em;
  overflow: hidden; }

/* Section Sub-head */
.sg-sub a:link {
  color: gray;
  border-bottom-color: gray; }
  .sg-sub a:link:hover {
    color: #222222;
    border-bottom-color: #222222; }

/* Clean View */
.sg-clean .sg-main {
  padding: 0; }

.sg-code, .sg-annotations {
  clear: both;
  background: #dddddd;
  color: #222222;
  padding: 1em;
  margin: 1em 0; }

.sg-code {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  white-space: pre-wrap; }

.demo {
  overflow: hidden;
  margin-bottom: 1rem; }

.demo .gi, .demo .demo-block {
  background: #dddddd;
  color: gray;
  text-align: center;
  margin-bottom: 0.5em;
  padding: 1em !important; }
  .demo .gi:nth-of-type(2n), .demo .demo-block:nth-of-type(2n) {
    color: #dddddd;
    background: gray; }
  .demo .gi .gi, .demo .demo-block .gi {
    background: rgba(0, 0, 0, 0.1);
    color: #dddddd; }
    .demo .gi .gi:nth-of-type(2n), .demo .demo-block .gi:nth-of-type(2n) {
      background: rgba(0, 0, 0, 0.3); }

.demo-animate {
  background: #dddddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center; }

.animate-move {
  position: relative; }
  .animate-move .demo-shape {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    background: gray; }
  .animate-move:hover > .demo-shape {
    left: 100%;
    margin-left: -20px; }

.sg-colors {
  overflow: hidden;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start; }
  .sg-colors li {
    overflow: hidden;
    border: 1px solid #dddddd;
    padding: 0.3em;
    margin: 0 0.2em 0.2em 0; }
    @media all and (min-width: 30em) {
      .sg-colors li {
        float: left;
        width: 5em; } }

.sg-swatch {
  display: block;
  height: 5em; }
  @media all and (max-width: 30em) {
    .sg-swatch {
      float: left;
      margin-right: 0.3em; } }
  @media all and (min-width: 30em) {
    .sg-swatch {
      width: 100%;
      height: 4em;
      margin-bottom: 0.2em; } }

.sg-label {
  line-height: 1; }

#comment-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 1em;
  background: red; }

@font-face {
  font-family: 'icons';
  src: url("../assets/icons.eot");
  src: url("../assets/icons.eot?#iefix") format("embedded-opentype"), url("../assets/icons.woff") format("woff"), url("../assets/icons.ttf") format("truetype"), url("../assets/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-reload, .icon-cog, .icon-minus, .icon-plus, .icon-menu, .sg-header .sg-nav-toggle, .icon-checkbox-unchecked, .sg-checkbox, .icon-checkbox-checked, .sg-checkbox.active, .icon-eye {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-reload:before {
  content: "\e002"; }

.icon-cog:before {
  content: "\e000"; }

.icon-minus:before {
  content: "\e003"; }

.icon-plus:before {
  content: "\e004"; }

.icon-menu:before, .sg-header .sg-nav-toggle:before {
  content: "\e005"; }

.icon-checkbox-unchecked:before, .sg-checkbox:before {
  content: "\e006"; }

.icon-checkbox-checked:before, .sg-checkbox.active:before {
  content: "\e007"; }

.icon-eye:before {
  content: "\e001"; }
