<!-- <div class="logo-copyright">
	<a href="{{columbia.url}}" target="_blank"><img src="{{img.columbia.src}}" alt="{{img.columbia.alt}}"></a>
	<p>© Copyright 2015 {{ columbia-sce.name }}</p>
</div> -->
<!-- commented the above out because it's showing on the front page of the styleguide, right inside colors! -->