<!-- Begin Footer 
<footer class="footer" role="contentinfo">
	<div class="lc">
		<p class="copyright">&copy; 2013 {{ clientname }}. All rights reserved.</p>
	</div>
</footer>
 End Footer -->
<footer class="footer">
	<div class="lc"> <!-- substituting class region region-footer from CE -->
<!--
		{{> molecules-social-media-footer}}
		{{> molecules-footer-nav }}
		{{> molecules-address-main}}
		{{> molecules-copyright-columbia}} -->
	</div> 
</footer>

