<ul class="nav-footer">
	<li><a href="/about">ABOUT</a></li>
	<li><a href="/news">NEWS</a></li>
	<li><a href="/about/staff-directory">STAFF DIRECTORY</a></li>
	<li><a href="https://columbiacareersext.silkroad.com" target="_blank">CAREERS</a></li>
</ul>
<p class="clear">&nbsp;</p>