<!DOCTYPE html>
<html>
<head>
    <title>Live style guide for a specific pattern sub-type</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <!-- Loading typekit  -->
    <script type="text/javascript" src="//use.typekit.com/lhy8qll.js"></script>
  	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="../../styleguide/css/styleguide.css" media="all" />
    <link rel="stylesheet" href="../../assets/css/style.css" media="all" />
</head>
<body>

<!--Style Guide Main Content-->
<div class="sg-main" role="main">

	<!--Patterns-->
	<div id="patterns">
		{{# partials }}
			<div class="sg-pattern">
				<h2 class="sg-head sg-sub" ><a href="../../patterns/{{ patternLink }}" class="patternLink" data-patternpartial="{{ patternPartialPath }}">{{ patternName }}</a></h2>
				{{{ patternPartial }}}
			</div>
		{{/ partials }}
	</div> <!--end #patterns-->
	
</div><!--end .sg-main-->
<script>
	
	// alert the iframe parent that the pattern has loaded. for page follow.
	if (self != top) {
		var targetOrigin = (window.location.protocol == "file:") ? "*" : window.location.protocol+"//"+window.location.host;
		parent.postMessage( { "patternpartial": "{{ patternPartial }}", "path": window.location.toString() }, targetOrigin);
	}
	
	// if there are clicks on the iframe make sure the nav in the iframe parent closes
	var body = document.getElementsByTagName('body');
	body[0].onclick = function() {
		var targetOrigin = (window.location.protocol == "file:") ? "*" : window.location.protocol+"//"+window.location.host;
		parent.postMessage( { "bodyclick":"bodyclick" }, targetOrigin)
	};
	
	// find all links and add an onclick handler for replacing the iframe address so the history works
	if (self != top) {
		var aTags = document.getElementsByTagName('a');
		for (a in aTags) {
			aTags[a].onclick = function(e) {
				e.preventDefault();
				window.location.replace(this.getAttribute("href"));
			};
		}
	}
	
	// watch the iframe source so that it can be sent back to everyone else.
	function receiveIframeMessage(event) {
		
		// does the origin sending the message match the current host? if not dev/null the request
		if ((window.location.protocol != "file:") && (event.origin !== window.location.protocol+"//"+window.location.host)) {
			return;
		}
		
		if (event.data.path != undefined) {
			var re   = /patterns\/(.*)$/;
			var path = window.location.protocol+"//"+window.location.host+window.location.pathname.replace(re,'')+event.data.path;
			window.location.replace(path);
		} else if (event.data.reload != undefined) {
			window.location.reload();
		}
		
	}
	window.addEventListener("message", receiveIframeMessage, false);
	
</script>
</body>
</html>