/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors
$gray : #808080;
$gray-light : #f9f9f9;
$gray-light-2 : #eee;
$gray-light-3 : #ddd;
$gray-light-4 : #bbb;
$gray-med : #666;
$gray-dark : #333;
$gray-dark-2 : #131313;
$white : #fff;
$black : #000;

// CE colors
$link-blue: #026fb4;
$info-session-blue: #4091ca;
$dark-blue: #005fa5;
$font-color: #333; 
$link-hover-active: #39f;
$light-grey: #cdcdcd;
$dark-grey: #59595b;
$footer-grey: #363636; // used in footer background
$color_silver_chalice_approx: #ababab; // used in footer logo
$card-blue: #5799c9;
$blue-rule: #add3eb;
$white: #fff;
$grey: #ccc;
$event-orange: #ad3800;
$banner-blue: #6caedf;




$dim : rgba(0,0,0,0.5);
$dimmer : rgba(0,0,0,0.8);

$error : #f00;
$valid : #089e00;

//$brand-client: #000;
//$brand-client-supporting-1: #000
//$brand-client-supporting-1-tint: #000

$brand-facebook: #03539e;
$brand-twitter: #35ccff;
$brand-linkedin: #217bc1;

//Typography
$font: "ff-kievit-web", Verdana, sans-serif;
$font-secondary: Georgia, Times, "Times New Roman", serif;
$font-serif: Georgia, Times, serif;
$font-tertiary: "ff-kievit-sc-web", Verdana, sans-serif;

$font-sans: "ff-kievit-web", Verdana, sans-serif;
$font-sc: "ff-kievit-sc-web", Verdana, sans-serif;


$font-size-norm : 1em;
$font-size-slightly-larger : 1.0625em;
$font-size-slightly-smaller : 0.875em;
$font-size-sm : 0.75em;
$font-size-large : 1.4375em;

//Layout
$max-width: 72rem;
$offset-left-1: 4.5rem;

$l-sidebar-width: 19.75rem;

//Defaults
$space : 1rem;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-triple : $space*3;
$space-quad : $space*4;
$space-half : $space/2;
$space-quarter : $space/4;
$pad : 1rem;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;


//Breakpoints
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 66em;
$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;

//