<ul class="social">
	<a href="{{facebook.url}}{{facebook.name}}" target="_blank">
		<li><img src="{{ img.facebook-footer.src }}" alt="{{ img.facebook-footer.alt }}" /></li>
	</a>
	<a href="{{twitter.url}}{{twitter.handle}}" target="_blank"> 
		<li><img src="{{img.twitter.src}}" alt="{{img.twitter.alt}}"></li>
	</a>
	<a href="{{linkedin.url-footer}}" target="_blank">
		<li><img src="{{img.linkedin-footer.src}}" alt="{{img.linkedin-footer.alt}}"></li>
	</a>
</ul>