/* Block */
.block {
	overflow: hidden;

	p:last-child {
		margin-bottom: 0;
	}
}

/* Block Thumbnail with Headline */
.block-thumb {

	.block-thumb-anchor {
		display: block;
	}

	.block-thumb-thumb {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			vertical-align: top;	
	  		width: 30%;
	  		max-width: 10em;

	 		img {
	 			display: block;
				  width: 100%;
				  height: auto;
	 		}
 		}
	}

	.block-thumb-text {
		@media all and (min-width: $bp-small-2) {
			display: table-cell;
			width: 70%;
			padding: 0 $pad;
		}
	}
}

// CE styles   

// colors

$color_gallery_approx: #eee;




// //@extend-elements
// //original selectors
//.card > div.upper p, .card > div.lower ul
%extend_1 {
	color: $white;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.5em;
}


// //original selectors
// //.card > div.lower ul li.learn-more, .card > div.upper a.learn-more
%extend_2  {
	font-family: $font_sc;
	font-size: 1.35em;
	font-style: normal;
	font-weight: 300;
	position: absolute;
	bottom: 1.5em;
	right: 1em;
	text-transform: lowercase;
	color: $white;
}


.card {
	position: relative;
	float: left;
	width: 15em;
	height: 24em;
	margin: 0 1em 0 0;
	&.full {
		width: 470px;
		height: 200px;
		margin: 0 0 2.5em 0;
	}
	> div {
		position: absolute;
		left: 0;
		top: 0;
		height: 23.4em;
		padding: .75em 1.5em 0 1.5em;
		background: $info-session-blue;
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: 0.6s;
		&.full {
			width: 29em;
			height: 13em;
		}
		&.lower {
			background: $dark-blue;
			//Instead of the line below you could use @includebackface-visibility($visibility)
			// backface-visibility: hidden;
			// //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			// transform: rotateY(180deg);
			h2 {
				color: $white;
				font-weight: 300;
				font-style: normal;
				font-size: 2.2em;
				margin: 0.8em 0 0 0;
			}
			ul {
				@extend %extend_1;
				list-style: none;
				margin-top: 0.9em !important;
				margin-left: 1em !important;
				margin-right: 2.2em;
				width: 100%;
				font-size: 0.875em;
				li {
					font-size: 1.5em;
					margin-bottom: 0.5em;
					margin-left: -1em;
					&.learn-more {
						@extend %extend_2;
					}
					a {
						color: $white;
					}
				}
			}
		}
// 		h1 {
// 			font-size: 2em;
// 			padding: 0;
// 			margin: 0;
// 			color: $white;
// 			line-height: 4em;
// 		}
// 		p {
// 			font-size: 1.1em;
// 			padding: 0;
// 			margin: 0;
// 			color: $color_gallery_approx;
// 			line-height: 2em;
// 		}
		&.upper {
			// @include backface-visibility($visibility);
			// using the above to replace the below
			// backface-visibility: hidden;
			// @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy);
			// using the above to replace the below
			// transform: rotateY(0deg);
			h2 {
				color: $white;
				font-family: $font_sans;
				font-weight: 400;
				font-style: normal;
				font-size: 1.375em; //22px;
				margin: 0.5em 0;
				line-height: 1.25em;
			}
// 			h3 {
// 				color: $white;
// 				font-weight: normal;
// 				font-size: 2.8em;
// 				letter-spacing: 0.01em;
// 				margin: 0 !important;
// 			}
			p {
				@extend %extend_1;
				font-size: 0.875em;
			}
			a.learn-more {
				@extend %extend_2;
				bottom: 25px;
			}
		}
	}
}

// .card > div.upper h2 { font-size:22px; }
// .card > div.upper p, .card > div.lower ul { font-size:14px; }
// .card > div.lower ul li.learn-more, .card > div.upper a.learn-more { bottom: 25px;}


/* Blue progam options box */
.program-options {
  margin: 5em 0 0 0; 

  h2 {
  font-style: italic;
  margin: 0 0 1.5em 0; }
}

/* Academic paper paragraph */
.academic-paper {
	position: relative;
	padding:1.5em 0;
	border-bottom:1px solid #ccc;
		
		h3 {
			font-size: 1.2em;
			margin:0 0 0.3em 0;
		}
		
		h4 {
			font-weight:300;
			font-style:italic;
			font-size:1em;
			margin:0 0 0.5em 0;
		}
}

/* RIGHT SIDEBAR and its components */


#right-sidebar {
	float: right;
	font-weight: normal;
	line-height: normal;
	width: 28%;
	margin-right: 0;
}

.email-signup {
	padding: 0 0 0.8em 0;
	border-bottom: 1px solid $light-grey;
	margin: 0 0 1em 0;
	a {
		color: $dark-grey;
	}
	img {
		float: left;
		margin: 0.2em .5em 0 0;
	}
	h3 {
		font-size: 1em;
		font-weight: 600;
		margin: 0;
	}
	p {
		padding: 0;
		font-style: italic;
		font-size: .8em;
	}
}

//for use with facebook and linked-in
.social-sidebar {
	margin: 2.25em 0 0 0;
	
	.sq {
		// margin: 0 1.1em 0 0.6em; 
		bottom: 0;
	}
	
	img {
		float: left;
		margin: 0 0.5em 0 0;
		position: relative;
		bottom: 1em;
	}
	
	h3 {
		font-size: 1em;
		font-weight:600;
		// margin: -.5em;
		a {
			color: $link-blue;
		}
	}
}

// for use with events
/* Date box placeholder */
%date-box {
	width: 3em;
	height: 3em;
	padding: 0.25em 0.7em 1em 0.5em;
	margin: 0 1em 0 0;
	font-size: .85em;
	float: left;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.3em;
	font-family: $font-sans;
	color: $white;
}

.event-sidebar {
	border-bottom:1px solid $light-grey;
	margin-bottom:1em; 
}

// for use with events (info sessions) 
.info-title {
	margin: 1.2em 0 0.6em 0;
}

%date-span {
	display: block;
	font-size: 1.08em;
}
div.date-blue {
	background: $info-session-blue;

	@extend %date-box;

	font-variant-numeric: oldstyle-nums;
	-moz-font-feature-settings: 'onum';
	-ms-font-feature-settings: 'onum';
	-o-font-feature-settings: 'onum';
	-webkit-font-feature-settings: 'onum';
	font-feature-settings: 'onum';
	span { @extend %date-span; }
}

div.date-orange {
	@extend %date-box;
	background: $event-orange;

	position: relative;
	top: 1px;
	font-variant-numeric: oldstyle-nums;
	-moz-font-feature-settings: 'onum';
	-ms-font-feature-settings: 'onum';
	-o-font-feature-settings: 'onum';
	-webkit-font-feature-settings: 'onum';
	font-feature-settings: 'onum';
	span { @extend %date-span;}
}

%info-the-header {
	display: block;
	font-weight: normal;
	font-style: italic;
	font-family: $font-serif;
	font-size: 0.8em;
	color: $info-session-blue;
	background-image: none !important;
}

h3.info-header {
	margin: -.5em;
	color: $link-blue;
	font-size: 1em;
	line-height: 1.35em;
	span { 
		@extend %info-the-header;	
		a { @extend %info-the-header;}
	}
}


div.info-date {
	margin: 1em 0 0 0;
	color: $black;
	font-size: .85em;
	span {
		font-size: 0.8em;
		display: block;
		position: relative;
		top: 0.25em;
		margin-bottom: -.7em;
	}
}


// RSVP box
div.rsvp-box a {
background: $info-session-blue;
color: $white;
font-weight: normal;
font-family: $font-sans;
padding: 1.2em;
margin: 1em 0;
display: inline-block;
font-size:1.05em;
}

//Site Banner

#site-banner {
	//Hub Banner
	h1.hub-banner {
		padding:2.4em 0 0 1em;
	}
	h1 {
		font-family: $font-sans;
		font-weight: 300;
		font-style: normal;
		position: absolute;
		padding: 2.4em 0 0 1.4em;
		font-size: 3.5em;
		z-index: 1;
		color: $white;
		text-transform: uppercase;
		-webkit-font-smoothing: antialiased;
		letter-spacing: 0.1em;
		line-height: 0.9em;
		margin: 0;
	}
	h1 span {
		font-size: 0.44em;
		display: block;
		color: $banner-blue;
		text-transform: none !important;
		letter-spacing: normal !important;
		font-weight: 500;
		position: relative;
		left:0.15em;
	}
}







