/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
// .footer {
// 	clear: both;
// 	overflow: hidden;
// 	background-color: $footer-grey;
// 	color: $white;
// 	line-height: 1.2;

// 	.lc {
// 		padding: $pad $pad 0;
// 	}

// 	a {
// 		color: $gray-light;
// 	}

// .copyright {
// 	@media all and (min-width: $bp-med) {
// 			float: right;
// 		}
// }

.footer {
	clear: both;
	overflow: hidden;
	background: $footer-grey;
	p {
		padding: 0;
		margin: 0 0.25em .5em 0;
		letter-spacing: 0.03em;
		float: left;
		&.copyright {
			position: relative;
			top: 5em;
			clear: both;
		}
		&.address {
			margin: 0em 0 0em 1.5em;
			font-weight: 300;
			line-height: 1.2em;
			color: $white;
		}
	}

	.lc {
		padding: $pad $pad 0;
	}
	
}


// ul.social li {
// 	display: inline;
// }

// //Footer Nav
// ul.nav-footer{
// 	margin: (-$pad) (-$pad) $space;

// 	li {
// 		border-bottom: 1px solid $gray-dark;
// 		display: inline;

// 		@media all and (min-width: $bp-med) {
// 			border: 0;
// 			float: left;
// 		}
// 	}

// 	a {
// 		display: block;
// 		padding: $pad;
// 		color: #fff;
// 		font-size: 1.2em;
// 		letter-spacing: 0.1em;
// 		font-weight: 300;
// 	}
// }



.logo-copyright {
	position: absolute;
	right: 1em;
	top: 3.1em;
	p {
		float: none !important;
		margin: 7.85em 2.5em 0 0;
		color: $color_silver_chalice_approx;
		font-size: 82%;
	}
	img {
		position: absolute;
		right: 2.5em;
	}
}



